<h3>Hero List</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h4>
    Heroe deleted: <small class="text-danger">{{ deletedHero }}</small>
  </h4>
</div>

<!-- referencia local: #nothingWasDeleted -->
<ng-template #nothingWasDeleted>
  <h5>No ha borrado nada</h5>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLasHero()"
  class="btn btn-outline-danger my-3"
>
  Delete last hero
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let hero of heroNames" class="list-group-item">
    {{ hero }}
  </li>
</ul>
